body {
    margin:0px;
    height:100vh;
    font-family:"Open Sans",sans-serif;
  }
  .modalwindow {
    border:solid 2px red;
    position:absolute;
    top:30%;
    left:25%;
    transform:translate(-50%,-50%);
  }
  .modalwindow a {
    margin:40px 120px;
    padding:10px 20px;
    background:orange;
    color:white;
    font-size:15px;
    font-weight:600;
    text-decoration:none;
    border-radius:5px;
  }
  .modalwindow img {
    position:relative;
    left: 10%;
    height:80%;
    width:80%;
    opacity:50%
}
.modalwindow img:hover {
    opacity:100%;
    transition:opacity 3s;
}
  .modalwindow a:hover {
      color:red;
    }
    .modalwindow2 a:hover {
        color:red;
      }
  .modalwindow h2 {
      position: relative;
      margin:20px 40px;
  }
  .modalwindow2 {
    margin-left:auto;
    margin-right:auto;
    width:550px;
    border:solid 2px red;
    position:absolute;
    top:30%;
    left:70%;
    transform:translate(-50%,-50%);
}
.modalwindow2 img {
    position:relative;
    left: 10%;
    height:80%;
    width:80%;
    opacity:50%
}
.modalwindow2 img:hover {
    opacity:100%;
    transition:opacity 3s;
}
.modalwindow2 a {
    margin-left:auto;
    margin-right:auto;
    width:960px;
    position:relative;
    left:35%;
    padding:10px 20px;
    background:orange;
    color:white;
    font-size:15px;
    font-weight:600;
    text-decoration:none;
    border-radius:5px;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1}
}
.modalwindow2 h2 {
    position: relative;
    margin:20px 40px;
}
#popup {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  z-index: 999;
  background:rgb(51, 204, 255,0.5);
  display:none;
}
#popup .popup-content{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:400px;
  padding:10px 20px;
  background:purple;
  animation:fadeIn 3s;
}
#popup a.close-popup {
  position:absolute;
  color:lightseagreen;
  top:20px;
  right:20px;
  font-size:20px;
  font-weight:600;
  text-decoration:none;
}
#popup a:hover {
    background-color:lightblue;
}
#popup:target {
  display:block;
}
#popup2 {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    z-index:999;
    background: rgb(102, 255, 102,0.5);
    display:none;
}
#popup2 .popup-content2 {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:400px;
    padding:10px 20px;
    background:white;
    animation:fadeIn 3s;

}
#popup2 a.close-popup2 {
    position:absolute;
    top:20px;
    right:20px;
    font-size:20px;
    font-weight:600;
    text-decoration:none;
    color:red;
}
#popup2 img {
    position:relative;
    left: 10%;
    height:80%;
    width:80%;
}
#popup2:target {
    display:block;
}
#popup2 a:hover {
    background-color:red;
}