div {text-align: center;}
section {border: 2px solid red;}
.p1 {color:hotpink; font-family: Arial, Helvetica, sans-serif;}
.p2 {color:pink; font-family: 'Courier New', Courier, monospace;}
.p3 {color:lightpink; font-family:Monotype Corsiva, Times, Serif;}
